* { box-sizing: border-box; }

body { font-family: sans-serif; }

img {
width: 100%;
height: 100%;
}

/* ---- grid ---- */
#main-wrapper {
  background: #d6d6d6;
  margin: auto;
  max-width: 1000px;
}

.grid {
  background: white;
  width: 1000px;
  margin: auto;
  border: 1px solid blue;
}


/* clearfix */
#main-wrapper:after {
content: '';
display: block;
clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.card {
  width: 200px;
}

.card {
  height: 200px;
  display: inline-block;
  float: left;
  background: #BCB8B9;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
  text-align: center;
}


.card-width-2 { width:  400px; }
.card-width-3 { width:  600px; }

.card-height-2 { height: 400px; }
.card-height-3 { height: 600px; }

@media screen and (max-width: 1100px) {
  .offerWhire.card-width-3 { width: 400px; }
}
@media screen and (max-width: 780px) {
  .card { width: 400px; }
  .boxCardVert { height: 200px; }
}

.offerWhire {
  background: #ffffbb;
}
.squareCard {
  background: #fd7272;
}
.boxCardHoriz {
  background: #fd72ff;
}
.boxCardVert {
  background: #fd2211;
}
.offerPE {
  background: #6969dc;
}
.testimonyCard {
  background: #aba4a4;
}
